/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";

/* VARIABLES SCSS
*******************/
$blanc: #ffffff;
$police-titre: 'Gloria Hallelujah', cursive;
$default-box-shadow-color: rgba(46, 61, 73, 0.5);

$icon-width: 100px;
$icon-height: 100px;
$icons: image-url('/assets/img/cards.png');

/* Styles
**********/
html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background: #ffffff;
	font-family: 'Permanent Marker', cursive;
	font-size: 16px;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

h1 {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 3em;
    line-height: 3em;
}

h3 {
	line-height: 1.3em;
	font-size: 1.8em;
}

.bestScores > ul {
	font-family: Arial, Helvetica, sans-serif;
}


/* Grille des cartes
 *********************/

.grille {
	width: 85%;
	background: #716F71;
	padding: 1rem;
	@include border-radius(4px);
	@include box-shadow;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	margin: 0 0 3em; 
}

.grille .carte {
	height: 3.7rem;
	width: 3.7rem;
	margin: 0.2rem 0.2rem;
	background: #141214;;
	font-size: 0;
	color: #ffffff;
	@include border-radius(5px);
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	@include box-shadow;
}

.grille .carte.open {
	transform: rotateY(0);
	background: #02b3e4;
	cursor: default;
	animation-name: flipInY;
	-webkit-backface-visibility: visible !important;
	backface-visibility: visible !important;
	animation-duration: .75s;
}

.grille .carte.show {
	font-size: 33px;
}

.grille .carte.match {
	cursor: default;
	background: #E5F720;
	font-size: 33px;
	animation-name: rubberBand;
	-webkit-backface-visibility: visible !important;
	backface-visibility: visible !important;
	animation-duration: .75s;
}

.grille .carte.unmatched {
	animation-name: pulse;
	-webkit-backface-visibility: visible !important;
	backface-visibility: visible !important;
	animation-duration: .75s;
	background: #e2043b;
}

.grille .carte.disabled {
	pointer-events: none;
	opacity: 0.9;
}

/* Icones
***********/
.icon {
    width: $icon-width;
    height: $icon-height;
  }

  ul li i:before {
    background: transparent $icons scroll no-repeat;
    content:"";
  }

  .icon-pomme-rouge {background-position: -($icon-width * 1) -($icon-height * 1);}
  .icon-bananes {background-position: -($icon-width * 1) -($icon-height * 2);}
  .icon-orange {background-position: -($icon-width * 1) -($icon-height * 3);}
  .icon-citron-vert {background-position: -($icon-width * 1) -($icon-height * 4);}
  .icon-grenade {background-position: -($icon-width * 1) -($icon-height * 5);}
  .icon-abricot-1 {background-position: -($icon-width * 1) -($icon-height * 6);}
  .icon-citron-jaune {background-position: -($icon-width * 1) -($icon-height * 7);}
  .icon-fraise {background-position: -($icon-width * 1) -($icon-height * 8);}
  .icon-pomme-verte {background-position: -($icon-width * 1) -($icon-height * 9);}
  .icon-abricot-2 {background-position: -($icon-width * 1) -($icon-height * 10);}
  .icon-raisin {background-position: -($icon-width * 1) -($icon-height * 11);}
  .icon-pasteque {background-position: -($icon-width * 1) -($icon-height * 12);}
  .icon-prune {background-position: -($icon-width * 1) -($icon-height * 13);}
  .icon-poire {background-position: -($icon-width * 1) -($icon-height * 14);}
  .icon-cerises {background-position: -($icon-width * 1) -($icon-height * 15);}
  .icon-framboise {background-position: -($icon-width * 1) -($icon-height * 16);}
  .icon-mangue {background-position: -($icon-width * 1) -($icon-height * 17);}
  .icon-groseilles {background-position: -($icon-width * 1) -($icon-height * 18);}



/* Meilleurs scores
 ******************/

.score-panel {
	text-align: left;
	margin-bottom: 10px;
}

.score-panel .stars {
	margin: 0;
	padding: 0;
	display: inline-block;
	margin: 0 5px 0 0;
}

.score-panel .stars li {
	list-style: none;
	display: inline-block;
}

.score-panel .restart {
	float: right;
	cursor: pointer;
}

.fa-star {
	color: #FFD700;
}

.timer {
	display: inline-block;
	margin: 0 1rem;
}


/* Popup modal
 ***************/
.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.7);
	transition: opacity 500ms;
	visibility: hidden;
	opacity: 0;
}

.overlay:target {
	visibility: visible;
	opacity: 1;
}
  
.popup {
	margin: 70px auto;
	padding: 20px;
	background: #ffffff;
	@include border-radius(5px);
	width: 85%;
	position: relative;
	transition: all 5s ease-in-out;
	font-family: 'Gloria Hallelujah', cursive;
}
  
.popup h2 {
	margin-top: 0;
	color: #333;
	font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
	position: absolute;
	top: 20px;
	right: 30px;
	transition: all 200ms;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	color: #333;
}

.popup .close:hover {
	color: #E5F720;
}

.popup .content-1,
.content-2 {
	max-height: 30%;
	overflow: auto;
	text-align: center;
}

.show {
	visibility: visible !important;
	opacity: 100 !important;
}

#starRating li {
	display: inline-block;
}

#play-again {
	background-color: #141214;
	padding: 0.7rem 1rem;
	font-size: 1.1rem;
	display: block;
	margin: 0 auto;
	width: 50%;
	font-family: 'Gloria Hallelujah', cursive;
	color: #ffffff;
	@include border-radius(5px);
}

/* animations
**************/
@keyframes flipInY {
	from {
		transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
		animation-timing-function: ease-in;
		opacity: 0;
	}

	40% {
		transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
		animation-timing-function: ease-in;
	}

	60% {
		transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
		opacity: 1;
	}

	80% {
		transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
	}

	to {
		transform: perspective(400px);
	}
}

@keyframes rubberBand {
	from {
		transform: scale3d(1, 1, 1);
	}

	30% {
		transform: scale3d(1.25, 0.75, 1);
	}

	40% {
		transform: scale3d(0.75, 1.25, 1);
	}

	50% {
		transform: scale3d(1.15, 0.85, 1);
	}

	65% {
		transform: scale3d(.95, 1.05, 1);
	}

	75% {
		transform: scale3d(1.05, .95, 1);
	}

	to {
		transform: scale3d(1, 1, 1);
	}
}

@keyframes pulse {
	from {
		transform: scale3d(1, 1, 1);
	}

	50% {
		transform: scale3d(1.2, 1.2, 1.2);
	}

	to {
		transform: scale3d(1, 1, 1);
	}
}


/* Media queries
*****************/


@media (max-width: 320px) {
	.grille {
		width: 85%;
	}

	.grille .carte {
		height: 4.7rem;
		width: 4.7rem;
	}
}


/* Tablettes et écrans larges
******************************/

@media (min-width: 768px) {
	.container {
		font-size: 22px;
	}

	.grille {
		width: 1000px;
		height: 680px;
	}

	.grille .carte {
		height: 125px;
		width: 125px;
	}

	.popup {
		width: 60%;
	}
}