@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* VARIABLES SCSS
*******************/
/* Styles
**********/
/* line 21, ../scss/screen.scss */
html {
  box-sizing: border-box;
}

/* line 25, ../scss/screen.scss */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/* line 31, ../scss/screen.scss */
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* line 39, ../scss/screen.scss */
body {
  background: #ffffff;
  font-family: 'Permanent Marker', cursive;
  font-size: 16px;
}

/* line 45, ../scss/screen.scss */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* line 52, ../scss/screen.scss */
h1 {
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 3em;
  line-height: 3em;
}

/* line 58, ../scss/screen.scss */
h3 {
  line-height: 1.3em;
  font-size: 1.8em;
}

/* line 63, ../scss/screen.scss */
.bestScores > ul {
  font-family: Arial, Helvetica, sans-serif;
}

/* Grille des cartes
 *********************/
/* line 71, ../scss/screen.scss */
.grille {
  width: 85%;
  background: #716F71;
  padding: 1rem;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: 0px 0px 5px rgba(46, 61, 73, 0.5);
  -webkit-box-shadow: 0px 0px 5px rgba(46, 61, 73, 0.5);
  box-shadow: 0px 0px 5px rgba(46, 61, 73, 0.5);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 0 0 3em;
}

/* line 84, ../scss/screen.scss */
.grille .carte {
  height: 3.7rem;
  width: 3.7rem;
  margin: 0.2rem 0.2rem;
  background: #141214;
  font-size: 0;
  color: #ffffff;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-box-shadow: 0px 0px 5px rgba(46, 61, 73, 0.5);
  -webkit-box-shadow: 0px 0px 5px rgba(46, 61, 73, 0.5);
  box-shadow: 0px 0px 5px rgba(46, 61, 73, 0.5);
}

/* line 99, ../scss/screen.scss */
.grille .carte.open {
  transform: rotateY(0);
  background: #02b3e4;
  cursor: default;
  animation-name: flipInY;
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  animation-duration: .75s;
}

/* line 109, ../scss/screen.scss */
.grille .carte.show {
  font-size: 33px;
}

/* line 113, ../scss/screen.scss */
.grille .carte.match {
  cursor: default;
  background: #E5F720;
  font-size: 33px;
  animation-name: rubberBand;
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  animation-duration: .75s;
}

/* line 123, ../scss/screen.scss */
.grille .carte.unmatched {
  animation-name: pulse;
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  animation-duration: .75s;
  background: #e2043b;
}

/* line 131, ../scss/screen.scss */
.grille .carte.disabled {
  pointer-events: none;
  opacity: 0.9;
}

/* Icones
***********/
/* line 138, ../scss/screen.scss */
.icon {
  width: 100px;
  height: 100px;
}

/* line 143, ../scss/screen.scss */
ul li i:before {
  background: transparent url(/assets/img/cards.png) scroll no-repeat;
  content: "";
}

/* line 148, ../scss/screen.scss */
.icon-pomme-rouge {
  background-position: -200px;
}

/* line 149, ../scss/screen.scss */
.icon-bananes {
  background-position: -300px;
}

/* line 150, ../scss/screen.scss */
.icon-orange {
  background-position: -400px;
}

/* line 151, ../scss/screen.scss */
.icon-citron-vert {
  background-position: -500px;
}

/* line 152, ../scss/screen.scss */
.icon-grenade {
  background-position: -600px;
}

/* line 153, ../scss/screen.scss */
.icon-abricot-1 {
  background-position: -700px;
}

/* line 154, ../scss/screen.scss */
.icon-citron-jaune {
  background-position: -800px;
}

/* line 155, ../scss/screen.scss */
.icon-fraise {
  background-position: -900px;
}

/* line 156, ../scss/screen.scss */
.icon-pomme-verte {
  background-position: -1000px;
}

/* line 157, ../scss/screen.scss */
.icon-abricot-2 {
  background-position: -1100px;
}

/* line 158, ../scss/screen.scss */
.icon-raisin {
  background-position: -1200px;
}

/* line 159, ../scss/screen.scss */
.icon-pasteque {
  background-position: -1300px;
}

/* line 160, ../scss/screen.scss */
.icon-prune {
  background-position: -1400px;
}

/* line 161, ../scss/screen.scss */
.icon-poire {
  background-position: -1500px;
}

/* line 162, ../scss/screen.scss */
.icon-cerises {
  background-position: -1600px;
}

/* line 163, ../scss/screen.scss */
.icon-framboise {
  background-position: -1700px;
}

/* line 164, ../scss/screen.scss */
.icon-mangue {
  background-position: -1800px;
}

/* line 165, ../scss/screen.scss */
.icon-groseilles {
  background-position: -1900px;
}

/* Meilleurs scores
 ******************/
/* line 172, ../scss/screen.scss */
.score-panel {
  text-align: left;
  margin-bottom: 10px;
}

/* line 177, ../scss/screen.scss */
.score-panel .stars {
  margin: 0;
  padding: 0;
  display: inline-block;
  margin: 0 5px 0 0;
}

/* line 184, ../scss/screen.scss */
.score-panel .stars li {
  list-style: none;
  display: inline-block;
}

/* line 189, ../scss/screen.scss */
.score-panel .restart {
  float: right;
  cursor: pointer;
}

/* line 194, ../scss/screen.scss */
.fa-star {
  color: #FFD700;
}

/* line 198, ../scss/screen.scss */
.timer {
  display: inline-block;
  margin: 0 1rem;
}

/* Popup modal
 ***************/
/* line 206, ../scss/screen.scss */
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

/* line 218, ../scss/screen.scss */
.overlay:target {
  visibility: visible;
  opacity: 1;
}

/* line 223, ../scss/screen.scss */
.popup {
  margin: 70px auto;
  padding: 20px;
  background: #ffffff;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  width: 85%;
  position: relative;
  transition: all 5s ease-in-out;
  font-family: 'Gloria Hallelujah', cursive;
}

/* line 234, ../scss/screen.scss */
.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}

/* line 240, ../scss/screen.scss */
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

/* line 251, ../scss/screen.scss */
.popup .close:hover {
  color: #E5F720;
}

/* line 255, ../scss/screen.scss */
.popup .content-1,
.content-2 {
  max-height: 30%;
  overflow: auto;
  text-align: center;
}

/* line 262, ../scss/screen.scss */
.show {
  visibility: visible !important;
  opacity: 100 !important;
}

/* line 267, ../scss/screen.scss */
#starRating li {
  display: inline-block;
}

/* line 271, ../scss/screen.scss */
#play-again {
  background-color: #141214;
  padding: 0.7rem 1rem;
  font-size: 1.1rem;
  display: block;
  margin: 0 auto;
  width: 50%;
  font-family: 'Gloria Hallelujah', cursive;
  color: #ffffff;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

/* animations
**************/
@keyframes flipInY {
  from {
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  40% {
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    animation-timing-function: ease-in;
  }
  60% {
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1;
  }
  80% {
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
  }
  to {
    transform: perspective(400px);
  }
}
@keyframes rubberBand {
  from {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  to {
    transform: scale3d(1, 1, 1);
  }
}
@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }
  50% {
    transform: scale3d(1.2, 1.2, 1.2);
  }
  to {
    transform: scale3d(1, 1, 1);
  }
}
/* Media queries
*****************/
@media (max-width: 320px) {
  /* line 361, ../scss/screen.scss */
  .grille {
    width: 85%;
  }

  /* line 365, ../scss/screen.scss */
  .grille .carte {
    height: 4.7rem;
    width: 4.7rem;
  }
}
/* Tablettes et écrans larges
******************************/
@media (min-width: 768px) {
  /* line 376, ../scss/screen.scss */
  .container {
    font-size: 22px;
  }

  /* line 380, ../scss/screen.scss */
  .grille {
    width: 1000px;
    height: 680px;
  }

  /* line 385, ../scss/screen.scss */
  .grille .carte {
    height: 125px;
    width: 125px;
  }

  /* line 390, ../scss/screen.scss */
  .popup {
    width: 60%;
  }
}
